#features {
    padding: 0vw 10vw;

    .features-grid-container {
        justify-items: center;

        .header-list-item {
            display: grid;
            grid-template-columns: 40vw 40vw;
            grid-template-rows: auto;
            grid-auto-flow: row dense;

            @media (max-width: 1100px) {
                // grid-template-columns: auto;
                // grid-template-rows: auto auto;
                display: block;
            }

            img {
                max-width: 30vw;
                justify-self: end;
                align-self: center;

                @media (max-width: 1100px) {
                    max-width: 80vw;
                    justify-self: center;
                    margin-top: 10vh;
                }
            }
        }

        .manage-container {
            grid-column-start: 2;
        }

        .manage {
            img {
                justify-self: start;
                align-self: enter;
            }
        }

        .large-grid {
            margin: 10vh;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;

            .large-grid-item-title {
                font-weight: bold;
            }

            icon {
                i {
                    font-size: 50px;
                }
            }
        }
    }
}