#footer {
    height: 100vh;
    background-color: #3064bc;
    padding: 0vw 10vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;

    .btn-container {
        flex: 1;
        .contact-button {
            color: @primaryColor;
            background-color: @backgroundColor;
            padding: 15px 30px;
            border-radius: 10px;
        }
    }
}