#footer {
    background-color: @primaryColor;
    padding: 5vh 10vw;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        // @media (max-width: 800px) {
        //     flex-direction: column;
        // }
    }
    @media (max-width: 1100px) and (min-width: 800px) {
        padding-top: 100px;
    }
}