
#landing {
    padding: 0vw 10vw;
    // height: 90vh;
    .grid-container {
        display: grid;
        // padding: 0px 40px;
        grid-template-columns: minmax(0%, 50%) auto;
        // height: 90vh;
        @media (max-width: 1100px) {
            grid-template-rows: auto auto;
            grid-template-columns: auto;
        }
        .tagline {
            align-self: center;
            justify-content: center;
        }

        .dashboard-anim {
            // max-height: 90vh;
            align-self: center;
            justify-content: center;
            text-align: center;
        }
    }
}

section {
        @media (max-width: 1100px) {
            transform: translateY(15vh);
        }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
  }

.nav-placeholder {
    height: 10vh;
}