#testimony {
    padding: 10vh 10vw;
    background: url(../../assets/static/waves.svg);
    .testimony-grid-container {
        margin: 30px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .testimony-content {
            margin: 15px 0px 0px;
        }
    }
}