.headings {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

.subheadings {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.25rem;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', 'Poppins', sans-serif;
    color: white;
}

html,
body {
    background-color: @backgroundColor;
}

h1 {
    .headings();
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h3 {
    .subheadings();
}