@primaryColor: #0084ff;
@accentColor: #ffa800;
@backgroundColor: #ffffff;
@navBackgroundColor: #ffffffee;
@cardBackgroundColor: rgba(255, 255, 255, 0.5);
@textColor: #000000;
@textColorAlt: white;
@textColorWhiteBG: @primaryColor;